body {
  background: url('/pictures/login.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#sticky-footer {
  flex-shrink: none;
}